<!DOCTYPE html>
<html>
<head>

    <style>
        h1 {
            color: white;
            font-size: 72px;
            text-align: center;
            display: inline-block;
            position: relative;
            width: 100%; /*Add this*/
        }

        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url('../../Content/pexels-monstera-7794441 (1).jpg');
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
        }

    </style>
</head>
<body>
    <div class="container">

                <h1> Messaging System With SignalR</h1><hr />


    </div>
    <div class="bg">
        <div class="container">
            @RenderBody()
        </div>
    </div>

</body>
</html>
